/* Импорт шрифта Pangolin из Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

/* Общие стили для всех элементов */
*{
  color: #7e6cee; /* Цвет текста */
  text-decoration: none; /* Отсутствие подчеркивания ссылок */
  margin: 0; /* Отсутствие полей вокруг элементов */
  padding: 0; /* Отсутствие отступов внутри элементов */
}

/* Стили для ссылок */
a{
  transition: all .3s; /* Плавный переход при наведении */
}

a:hover{
  color: #4b36d4; /* Цвет текста при наведении */
}

/* Стили для тела страницы */
body{
  background: url(../img/background.png) no-repeat fixed; /* Фоновое изображение */
  background-size: 100% 100%; /* Размер фонового изображения */
  font-family: 'Pangolin', cursive; /* Шрифт Pangolin */
  background-color: #a89bff; /* Цвет фона, если фоновое изображение не загружается */
} 

/* Стили для хедера страницы (шапки) */
.header__nav {
  margin: auto; /* Автоматическое выравнивание по ширине */
  width: 90%; /* Ширина хедера */
  height: 144px; /* Высота хедера */
}

/* Стили для элементов внутри хедера */
.header__nav-item {
  display: flex; /* Расположение элементов в виде гибкого контейнера */
  justify-content: space-between; /* Равномерное распределение элементов по горизонтали */
}

/* Стили для логотипа */
.logo {
  flex-shrink: 0; /* Запрет уменьшения ширины логотипа */
}

/* Стили для главного меню */
.menu__nav-item {
  display: flex; /* Расположение элементов меню в виде гибкого контейнера */
  margin: 10px; /* Отступ между элементами меню */
}

/* Стили для списка элементов меню */
.menu__nav-list {
  color: #fff; /* Цвет текста меню */
  font-size: 22px; /* Размер шрифта меню */
  margin: 90px 25px 0 0; /* Отступы вокруг списка меню */
}

/* Стили для второго элемента меню (Викторина) */
.menu__nav-list:nth-child(3) {
  margin-right: 0px; /* Отсутствие отступа справа для второго элемента меню */
}

/* Основной контейнер для элементов страницы */
.flexbox {
  margin-top: 40px; /* Отступ сверху */
  display: flex; /* Расположение элементов в виде гибкого контейнера */
  flex-direction: row-reverse; /* Расположение элементов в обратном порядке */
  align-items: flex-start; /* Выравнивание элементов по вертикали */
  justify-content: space-between; /* Равномерное распределение элементов по горизонтали */
}

/* Стили для блока с тетей */
.tetya {
  margin-left: 10px; /* Отступ слева */
  height: 550px; /* Высота блока */
  margin-right: 200px; /* Отступ справа */
}

/* Стили для блоков теста, подтеста и регенерированного текста */
.div-test,
.div-test-under,
.div-retgen {
  height: 370px; /* Высота блоков */
  min-width: 600px; /* Минимальная ширина блоков */
  max-width: 800px; /* Максимальная ширина блоков */
  padding: 25px; /* Отступы внутри блоков */
  border-radius: 0px 100px 100px 0px; /* Радиусы закругления углов блоков */
}

/* Стили для блока теста */
.div-test {
  background-color: #ffeaff; /* Цвет фона блока теста */
  margin-top: 60px; /* Отступ сверху */
}

/* Стили для параграфов внутри блока теста */
.div-test p {
  /* Размер шрифта параграфов */
  font-size: 24px;
  /* Межстрочный интервал параграфов */
  line-height: 1.3;
  /* Отступ слева для параграфов */
  margin-left: 10px;
  /* Отступ справа для параграфов */
  margin-right: 25px;
}

/* Стили для кнопки теста */
.button-test {
  /* Позиционирование кнопки */
  position: absolute;
  /* Отображение курсора при наведении на кнопку */
  cursor: pointer;
  /* Размер шрифта кнопки */
  font-size: 16px;
  /* Отступы внутри кнопки */
  padding: 10px 15px;
  /* Изначальное масштабирование кнопки */
  transform: scale(1);
  /* Отступ слева для кнопки */
  margin-left: 40%;
  /* Радиусы закругления углов кнопки */
  border-radius: 10px;
  /* Цвет фона кнопки */
  background-color: #f5aeed;
  /* Граница кнопки */
  border: 1px solid #a89bff;
}

/* Стили для кнопки теста при наведении */
.button-test:hover {
  /* Масштабирование кнопки при наведении */
  transform: scale(1.1);
}

/* Стили для блока подтеста */
.div-test-under {
  /* Фоновое изображение блока подтеста */
  background: url(../img/oig.jpeg) no-repeat center center fixed;
  /* Размер фонового изображения */
  background-size: cover;
  /* Изначальное вертикальное положение блока подтеста */
  transform: translateY(-100%);
  /* Окантовка блока подтеста */
  outline: 1px solid #dc72e6;
  /* Переход при анимации */
  transition: transform 400ms;
  /* Порядок наложения элементов */
  z-index: 0;
}

/* Стили для блока регенерированного текста */
.div-retgen {
  /* Отступ снизу для блока регенерированного текста */
  padding-bottom: 50px;
  /* Отсутствие отступа сверху для блока регенерированного текста */
  padding-top: 0;
  /* Изначальное вертикальное положение блока регенерированного текста */
  transform: translateY(-200%);
  /* Непрозрачность блока регенерированного текста */
  opacity: 1;
  /* Порядок наложения элементов */
  z-index: 1;
}

/* Стили для изображений в блоке регенерированного текста */
.item-image {
  /* Высота изображений */
  height: 100px;
}

/* Стили для футера страницы */
.footer{
  /* Расположение элементов футера в виде гибкого контейнера */
  display: flex;
  /* Выравнивание элементов футера по центру по вертикали */
  align-items: center;
  /* Равномерное распределение элементов футера по горизонтали */
  justify-content: space-evenly;
  /* Радиусы закругления углов футера */
  border-radius: 200px 200px 0px 0px;
  /* Ширина футера */
  width: 100%;
}

/* Стили для блока администратора */
.admin{
  /* Граница блока администратора */
  border: 3px solid #7e6cee;
  /* Цвет фона блока администратора */
  background-color: #f5aeed;
  /* Радиусы закругления углов блока администратора */
  border-radius: 200px 200px 0px 0px;
  /* Отступы внутри */
  padding: 50px;
}

/* Стили для параграфов внутри блока администратора */
.admin p{
  /* Выравнивание текста параграфов по центру */
  text-align: center;
  /* Цвет фона параграфов */
  background-color: #f596ff;
  /* Отступы внутри параграфов */
  padding: 5px;
  /* Радиусы закругления углов параграфов */
  border-radius: 10px;
}

/* Стили для изображения администратора */
.image-admin{
  /* Отступы вокруг изображения */
  padding: 10px;
  /* Радиусы закругления углов изображения */
  border-radius: 50% 50% 0 0;
  /* Цвет фона контейнера изображения */
  background-color: #7e6cee;
  /* Отступы сверху и снизу контейнера изображения */
  margin: 15px auto;
  /* Ширина контейнера изображения */
  width: 250px;
  /* Высота контейнера изображения */
  height: 250px;
  /* Плавный переход при наведении на изображение */
  transition: all .3s;
}

/* Стили для изображения администратора при наведении */
.image-admin:hover{
  /* Отсутствие отступов вокруг изображения при наведении */
  padding: 0;
}

/* Стили для заголовка блока администратора */
.admin h2{
  /* Граница заголовка */
  border: 1px solid #7e6cee;
  /* Радиусы закругления углов заголовка */
  border-radius: 5px;
  /* Выравнивание текста заголовка по центру */
  text-align: center;
  /* Отступы сверху и снизу заголовка */
  margin: 5px 0 20px;
  /* Отступы слева и справа заголовка */
  padding: 5px 0;
}

/* Стили для основного меню страницы */
.menu{
  /* Расположение элементов меню в виде гибкого контейнера */
  display: flex;
  /* Выравнивание элементов меню по вертикали */
  align-items: center;
  /* Перенос элементов меню на новую строку при нехватке места */
  flex-wrap: wrap;
  /* Равномерное распределение элементов меню по горизонтали */
  justify-content: space-around;
  /* Цвет фона меню */
  background-color: #f5aeedaa;
  /* Граница меню */
  border: 5px solid #7e6cee;
  /* Отступ снизу меню */
  margin-bottom: 20px;
  /* Размер шрифта элементов меню */
  font-size: 48px;
}

/* Стили для текста в меню */
.menu-text{
  /* Отступ вокруг текста в меню */
  margin: 30px;
  /* Ширина текстового блока в меню */
  width: 50%;
}

/* Стили для изображения в меню */
.menu-image1{
  /* Ширина изображения */
  width: 450px;
  /* Высота изображения */
  height: 10%;
}

/* Стили для скроллбара */
::-webkit-scrollbar {
  /* Цвет полосы прокрутки */
  color: #000;
  /* Цвет фона области прокрутки */
  background-color: #000;
  /* Ширина полосы прокрутки */
  width: 10px;
}

/* Стили для трека прокрутки */
::-webkit-scrollbar-track {
  /* Тень вокруг трека прокрутки */
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  /* Цвет фона трека прокрутки */
  background-color: #f9f9fd;
}

/* Стили для ползунка прокрутки */
::-webkit-scrollbar-thumb {
  /* Градиентный фон ползунка прокрутки */
  background: linear-gradient(180deg, #7e6cee, #f5aeed);
}

/* Адаптивный дизайн для экранов с шириной менее 1200px */
@media (max-width: 1200px) {

  /* Изменение расположения элементов хедера */
  .header__nav {
    justify-content: space-between; /* Равномерное распределение элементов по горизонтали */
    flex-direction: column; /* Расположение элементов в виде столбца */
    padding: 10px; /* Отступы вокруг элементов хедера */
  }

  /* Изменение ширины элементов хедера */
  .header__nav-item {
    width: 100%; /* Ширина элемента на всю ширину экрана */
    margin-bottom: 10px; /* Отступ снизу между элементами хедера */
  }

  /* Изменение стиля логотипа */
  .header__nav-logo {
    margin: 0; /* Отсутствие отступов вокруг логотипа */
    text-align: center; /* Выравнивание текста логотипа по центру */
  }

  /* Скрытие элемента "Викторина" */
  .viktor {
    display: none; /* Скрытие элемента "Викторина" */
  }

  /* Изменение расположения элементов меню */
  .menu__nav-item {
    display: flex; /* Расположение элементов меню в виде гибкого контейнера */
    flex-wrap: wrap; /* Перенос элементов меню на новую строку при нехватке места */
    justify-content: center; /* Равномерное распределение элементов меню по центру */
  }

  /* Изменение отступа сверху для списка элементов меню */
  .menu__nav-list {
    margin-top: 30px; /* Отступ сверху для списка элементов меню */
  }
}



/* Адаптивный дизайн для экранов с шириной менее 1200px */
@media (max-width: 1200px) {

  /* Изменение направления расположения элементов в блоке flexbox */
  .flexbox {
    flex-direction: column-reverse; /* Расположение элементов в виде столбца в обратном порядке */
    align-items: center; /* Выравнивание элементов по вертикали */
    text-align: center; /* Выравнивание текста по центру */
  }

  /* Изменение отступов вокруг блока с тетей */
  .tetya {
    margin-left: 0; /* Отсутствие отступа слева */
    margin-right: 0; /* Отсутствие отступа справа */
    width: 100%; /* Ширина блока на всю ширину экрана */
  }

  /* Изменение размеров блоков теста, подтеста и регенерированного текста */
  .div-test,
  .div-test-under,
  .div-retgen {
    min-width: 100%; /* Минимальная ширина блоков на всю ширину экрана */
    max-width: 100%; /* Максимальная ширина блоков на всю ширину экрана */
    border-radius: 0; /* Отсутствие закругления углов блоков */
    padding: 15px; /* Отступы внутри блоков */
  }

  /* Изменение позиции кнопки теста */
  .button-test {
    position: static; /* Позиционирование кнопки без фиксации относительно других элементов */
    margin-left: 0; /* Отсутствие отступа слева */
    margin-top: 20px; /* Отступ сверху */
  }

  /* Изменение высоты изображений в блоке регенерированного текста */
  .item-image {
    height: 500px; /* Высота изображений */
  }
}
