
.viktor {
  /* Отступ сверху кнопки */
  margin-top: 90px;
  /* Отступы внутри кнопки */
  padding: 10px;
  /* Размер шрифта текста кнопки */
  font-size: 32px;
  /* Радиусы закругления углов кнопки */
  border-radius: 10px;
  /* Граница кнопки */
  border: 2px solid #a600ff;
  /* Цвет фона кнопки */
  background-color: rgb(226, 195, 255);
}

/* Стиль основного контейнера */
.container {
  /* Тень вокруг контейнера */
  box-shadow: 0px 0px 5px 4px;
  /* Отступы внутри контейнера */
  padding: 20px;
  /* Цвет фона контейнера */
  background-color: #f5f5f5;
  /* Граница контейнера */
  border: 1px solid #ccc;
  /* Радиусы закругления углов контейнера */
  border-radius: 35px;
}

/* Отступ между элементами */
.qwe {
  /* Отступ сверху и снизу элементов */
  margin: 10px 0;
}

/* Стиль заголовка блока div11 */
.div11 h3 {
  /* Отступ сверху и снизу заголовка */
  margin: 20px 0;
}

/* Стиль параграфов в блоке div11 */
.div11 p {
  /* Отступ снизу параграфов */
  margin-bottom: 20px;
}

/* Стиль кнопки сброса результатов */
.reset {
  /* Отступы внутри кнопки */
  padding: 10px;
  /* Граница кнопки */
  border: 1px solid #a600ff;
  /* Радиусы закругления углов кнопки */
  border-radius: 10px;
  /* Отступ справа от кнопки */
  margin-right: 5px;
  /* Размер шрифта текста кнопки */
  font-size: 16px;
}

/* Стиль элементов списка */
li {
  /* Отступ сверху и снизу элементов списка */
  margin: 20px 0;
}

/* Стиль переключателей */
input[type="radio"] {
  /* Отступ справа от переключателей */
  margin-right: 10px;
  /* Масштабирование переключателей */
  transform: scale(1.5);
}

/* Стиль кнопок */
input[type="button"] {
  /* Размер шрифта текста кнопки */
  font-size: 16px;
  /* Цвет фона кнопки */
  background-color: #a89bff;
  /* Граница кнопки */
  border: 1px solid #a600ff;
  /* Цвет текста кнопки */
  color: #fff;
  /* Радиусы закругления углов кнопки */
  border-radius: 5px;
  /* Отступы внутри кнопки */
  padding: 10px 20px;
  /* Курсор при наведении на кнопку */
  cursor: pointer;
  /* Плавный переход при наведении на кнопку */
  transition: all .2s;
}


/* Стили для кнопки с типом "button" при наведении */
input[type="button"]:hover {
  /* Цвет текста кнопки при наведении */
  color: #a89bff;
  /* Цвет фона кнопки при наведении */
  background-color: #fff;
}

/* Стили для класса "qwe" */
.qwe{
  /* Размер шрифта для класса "qwe" */
  font-size: 24px;
}

/* Стили для класса "height" */
.height{
  /* Отсутствие отступов вокруг элемента */
  margin: 0 auto;
  /* Ширина элемента */
  width: 60%;
  /* Отступ сверху */
  margin-top: 40px;
  /* Цвет фона элемента */
  background-color: #e4b2ff;
  /* Граница элемента */
  border: 1px solid #a600ff;
  /* Радиусы закругления углов элемента */
  border-radius: 100px 20px;
  /* Отступы внутри элемента */
  padding: 40px;
}

/* Адаптивный дизайн для экранов с шириной менее 1000px */
@media (max-width: 1000px) {

  /* Изменение максимальной ширины контейнера */
  .container {
    max-width: 99%;
  }

  /* Изменение размера шрифта и отступов для кнопки с типом "button" */
  input[type="button"] {
    font-size: 14px;
    padding: 8px 16px;
  }

  /* Изменение размера шрифта для класса "qwe" */
  .qwe {
    font-size: 20px;
  }

  /* Изменение размера шрифта для класса "viktor" */
  .viktor {
    font-size: 18px;
  }

  /* Изменение ширины элемента "height" на всю ширину экрана */
  .height{
    width: auto;
  }

/* Изменение стиля хедера для экранов с меньшей шириной */
.header__nav {
  justify-content: space-between; /* Равномерное распределение элементов по горизонтали */
  flex-direction: column; /* Расположение элементов в виде столбца */
  padding: 10px; /* Отступы вокруг элементов хедера */
}

.header__nav-item {
  width: 100%; /* Ширина элемента на всю ширину экрана */
  margin-bottom: 10px; /* Отступ снизу между элементами хедера */
}

.header__nav-logo {
  margin: 0; /* Отсутствие отступов вокруг логотипа */
  text-align: center; /* Выравнивание текста логотипа по центру */
}


/* Скрытие класса "viktor" */
.viktor{
  display: none; /* Скрытие элемента с классом "viktor" */
}

/* Изменение расположения элементов меню */
.menu__nav-item {
  display: flex; /* Расположение элементов меню в виде гибкого контейнера */
  flex-wrap: wrap; /* Перенос элементов меню на новую строку при нехватке места */
  justify-content: center; /* Равномерное распределение элементов меню по центру */
}

/* Изменение отступа сверху для списка элементов меню */
.menu__nav-list {
  margin-top: 30px; /* Отступ сверху для списка элементов меню */
}
}